<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../../../../../Downloads/startbootstrap-sb-admin-2-gh-pages/pages/index.html">Optica
            Osta</a>
    </div>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{{ WEB_PATH }}clients/"><i class="fa fa-user fa-fw"></i> Clientes</a>
                </li>
                <li>
                    <a href="{{ WEB_PATH }}recipes/"><i class="fa fa-edit fa-fw"></i> Recetas</a>
                </li>
                <li>
                    <a href="forms.html"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>